.mainbody {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.app-enter {
  height: 0;
  overflow: hidden;
  transition: height 2s ease-in-out;
}

.app-enter-active {
  height: 100%;
  transition: height 2s ease-in-out;
}

